.center-head {    
    max-width: 1200px;
    height: 51px;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
    margin-bottom: 12px;
    vertical-align: middle;
    box-shadow: 0 0.3px rgba(70, 163, 88, 0.5);
}

.center-head::after {
    content: "";
    display: table;
    clear: both;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.navigation {
    display: inline-block;   
    margin-left: 225px;
    position: relative;
}

.item {
    display: inline-block;
    margin-right: 50px;
    position: relative;    
    min-width: auto;
}

.navigation-text{
    display: inline-block;        
    font-size: 16px;
    font-family: "ceraPro-Regular";
    color: #3D3D3D;
    line-height: 20.11px;
    font-weight: 400;
    cursor: pointer;
}


.navigation-text:hover {
    display: block;      
    text-shadow: 0.8px 0.8px #3D3D3D; 
    padding-bottom: 24.5px;
    box-shadow: 0 3px rgb(70, 163, 88);
  }

.log_btn {
    display: inline-block;
    background-color: #46A358;
    color: #fff;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    right: 0;
    font-family: "ceraPro-Regular"; 
    vertical-align: middle;
    margin-top: -1px;
}

.logout-icon{
    width: 20px; 
    height: 20px;
    margin-right: 4px;
}


.center-banner{
    max-width: 1200px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    background-color:  rgba(245, 245, 245, 0.5);
}

.sec-heading{    
    font-size: 14px;
    color: #3D3D3D;
    text-transform: uppercase;
    padding-top: 67.1px;
    margin-left: 43.2px;  
    font-family: "ceraPro-Medium"; 
    letter-spacing: 0.1em;
    line-height: 16px;
    font-weight: 500;
}

.main-heading{
    display: inline-block;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    color:#3D3D3D;    
    font-family: "ceraPro-Black";
    font-weight: 900;         
    white-space: nowrap;    
    margin-top: 5.7px;
    margin-left: 40.2px; 
}

.highlight{
    color: #46A358;
}

.text{
    font-size: 14px;
    color:#727272;
    line-height: 24px;
    font-weight: 400;
    font-family: "ceraPro-Regular";    
    margin-top: 6px;
    margin-left: 43px;  
    white-space: nowrap;
}

.shopnow-btn {
    display: inline-block;
    background-color: #46A358;
    text-transform: uppercase;
    font-family: "ceraPro-Medium"; 
    margin-top: 43px;
    margin-left: 41px; 
    color: #fff;
    width: 140px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;     
}

.foto{
    position: absolute;
    right: 0;
    top: 0;
    height: 450;
    width: 507;
}

.search-svg{
    display: inline-block;
    margin-left: 200px;
    vertical-align: middle;
    background-color: transparent; 
    cursor: pointer;
}

.trash-svg{
    display: inline-block;
    margin-left: 26px;
    vertical-align: middle;
    background-color: transparent; 
    cursor: pointer;
}