.cat-menu-prod{
   display: block;
   margin: 46px auto 0 auto;
   width: 1200px;
}

.aside-menu{
   float: left;
   width: 310px;
   height:774px;
   background-color: rgba(245, 245, 245, 0.5);    
}
    
.categorie{
   font-family: "ceraPro-Medium"; 
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    margin-left: 18.3px;
    padding-top: 14px;
 }

 .cat-menu{
   font-family: "ceraPro-Medium"; 
   color: rgba(61, 61, 61, 1);
   font-weight: 400;
   font-size: 14px;
   line-height: 40px;
   text-transform: capitalize;   
   margin-top: 7px;
 }
 .prod-cat-name{
   margin-left: 30px;   
 }

 .super-sale-banner{
  margin-top: 377px;
  margin-left: -29px;
 }



